body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.browser-error {
  font-size: 18px;
  color: white;
  background-color: #C10808;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  display: none;
}

@supports not (display: flex) {
  .browser-error {
    display: block;
  }
}

@media screen and (max-device-width: 480px) {
  h2 {
    font-size: 4em;
  }

}
