$background-color: #2B333E;
$abstract-line-height: 1.3;
$abstract-lines-to-show: 4;
$abstract-font-size: 32px;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  background-color: $background-color;

.root {
  display: grid;

  .title {
    margin: 0 auto;
  }
}

}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
  margin: 17px 0;
}

.browser-error {
  font-size: 18px;
  color: white;
  background-color: #C10808;
  line-height: 30px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  display: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
}

input {
  padding: 10px 20px;
}

.search-form {
  width: 100%;
  height: 100px;
  margin: 0 10px;

  & > * {
    border: #666 3px solid;
  }
  .search-bar {
    width: 78%;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .submit-btn {
    width: 20%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background-color: #144899;
    color: white;
  }
}

.article-card {
  margin: 50px 20px;
  position: relative;
  background-size: cover;
  border: green 1px solid;
  height: 750px;
  background-color: #eee;

  .article-card-overlay {
      padding: 20px;
      background: rgba(255,255,255,0.75);
      bottom: 0px;
      position: absolute;

      .abstract {
        display: block;
        display: -wekit-box;
        font-size: $abstract-font-size;
        line-height: $abstract-line-height;
        height: $abstract-line-height * $abstract-lines-to-show * $abstract-font-size;
        -webkit-line-clamp: $abstract-lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  }

}

@supports not (display: flex) {
  .browser-error {
    display: block;
  }
}
