/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}




/* ====== Dotan's changes ======= */

#dotan {
	font-size: 18px;
	display: inline-block;
	width: 100%;
	background-color: #2B333E;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border-width: 20px;
	border-style: solid;
	border-radius: 10px;
	border-color: #85FCD6;
	z-index: 100;
	-webkit-transition: width 2s, height 4s; 
    transition: width 2s, height 4s;
} 


div.pubName {
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
	font-size: xx-large; 
    line-height: 50px; 
    margin: 5px 5px 0px 5px;
    padding: 0px 10px 0px 10px; 
    -webkit-transition: width 2s, height 4s; 
    transition: width 2s, height 4s;
    border-radius: 10px;
}

div.pubName.excluded {
	background-color: #2B333E;
	color : #fff;
}

#dotan:hover  div.pubName {
	display: inline-block;
	font-size: xx-large; 
}



.root {
	position: relative;
}
